# Prerequisites
*.d

# Project specifics
v16/
bin-int/
bin/
.vs/
*.user

# Compiled Object files
*.sqlite
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
